.modal-content ul {
  list-style-type: none;
  padding: 0;
}

.modal-content li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.modal-content{
  overflow-y: hidden;
}

.modal-content img {
  width: 50%;
  height: auto;
  margin-right: 10px;
}

.order-list{
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 300px;
}

@media screen and (max-width: 850px) {
  .order-confirmation {
      padding: 20px;
  }
}